body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #FAF7FD;
    font-family: 'Poppins', sans-serif;
    color: #BB99DD;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.instagram p{
    margin: 5px;
    padding: 0px;
}

.img-perfil img{
    margin-top: 25px;
    width: 30vh;
    display: flex;

    align-items: center;
    justify-content: center;
}

.link{
    margin: 4px;
    border: 2px solid;
    border-color: #BB99DD;
    color: #BB99DD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn{
    text-decoration: none;
    width: 40%;
}

.icons{
    margin: 34px;
    width: 236px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link:hover{
    background: #BB99DD;
    color: #FAF7FD;
    transition: 1s;
}


@media only screen and (max-width: 600px){
    .btn{
        width: 200px;
    }
    .icons{
        margin: 24px;
        width: 180px;
    }
    .img-perfil img{
        display: flex;
        align-items: center;
        justify-content:center;
        width: 150px;
    }
}

